name: lint and test
on:
  pull_request:
    branches:
      - dev
      - main
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          cache: npm
      - run: npm ci
      - run: npm run lint
      - uses: cypress-io/github-action@v6
        with:
          build: npm run build
          start: npm start
        env:
          APP_URL: http://localhost:3000
      - uses: actions/upload-artifact@v4
        with:
          name: e2e-tests
          path: cypress/videos
          if-no-files-found: error
          retention-days: 3
